@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Cv's Application </h1>
    <h4>
        <a asp-page="/Cvs/Apply">Want to Join us?</a>
    </h4>
    <img src="https://th.bing.com/th/id/OIG.TZHbrfdfuebYVT9SogWU?pid=ImgGn" height="450" width="500" />


</div>